<!DOCTYPE html>
<html lang="en">
<head>
  <title>VirtManager</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link href="static/terminal-style.css" rel="stylesheet" type="text/css">
  <script src="/static/jquery.js"></script>
  <script src="static/jquery-terminal.js"></script>
  <script src="/static/prototype.js"></script>
  <script src="/static/bootstrap.min.js"></script>
</head>
<body>

<script>
function logout () {
new Ajax.Request('/api/logout', {
  method:'get',
  onSuccess: function(transport) {
    window.location.replace("/");
  }
});
}

function my_machines() {
new Ajax.Request('/api/list_vms', {
  method:'get',
  onSuccess: function(transport) {
    JSON.parse(transport.responseText, function (k,v) {
        if (k === "list") {
            document.getElementById("nazwa_kategorii").innerHTML = "Twoje maszyny";
            document.getElementById("cialo_kategorii").innerHTML = "<p>Wybierz maszyne i czynnosc do wykonania:</p>";
            arr = v.split(";");
            lista = "<select id=\"maszyna\">";
            for(var i=0;i<arr.length;i++) {
                if (arr[i] === "")
                    break;
                lista += "<option>" + arr[i] + "</option>";
            }
            lista += "</select>";
            document.getElementById("cialo_kategorii").innerHTML += lista + "<p></p>";
            document.getElementById("cialo_kategorii").innerHTML += "<a href=\"#\" onclick=\"start_vm()\"><p>Uruchom</p></a>";
            document.getElementById("cialo_kategorii").innerHTML += "<a href=\"#\" onclick=\"change_name()\"><p>Zmien nazwe</p></a>";
        }
    });
  }
});
}

function working_machines() {
new Ajax.Request('/api/list_working_vms', {
  method:'get',
  onSuccess: function(transport) {
    JSON.parse(transport.responseText, function (k,v) {
        if (k === "list") {
            document.getElementById("nazwa_kategorii").innerHTML = "Dziajace maszyny";
            document.getElementById("cialo_kategorii").innerHTML = "<p>Wybierz maszyne i czynnosc do wykonania:</p>";
            arr = v.split(";");
            lista = "<select id=\"maszyna\">";
            for(var i=0;i<arr.length;i++) {
                if (arr[i] === "")
                    break;
                lista += "<option>" + arr[i] + "</option>";
            }
            lista += "</select>";
            document.getElementById("cialo_kategorii").innerHTML += lista + "<p></p>";
            document.getElementById("cialo_kategorii").innerHTML += "<a onclick=\"shutdown_vm()\" href=\"#\"><p>Wylacz</p></a>";
            document.getElementById("cialo_kategorii").innerHTML += "<a onclick=\"show_status()\" href=\"#\"><p>Wyswietl status</p></a>";
            document.getElementById("cialo_kategorii").innerHTML += "<a onclick=\"screenshot()\" href=\"#\"><p>Pokaz zrzut ekranu</p></a>";
            document.getElementById("cialo_kategorii").innerHTML += "<a onclick=\"terminal()\" data-toggle=\"modal\" data-target=\"#myModal\" href=\"#\"><p>Otworz terminal</p></a>";
            document.getElementById("cialo_kategorii").innerHTML += "<a data-toggle=\"modal\" data-target=\"#myModal3\" href=\"#\"><p>Zrzut wideo</p></a>";
        }
    });
  }
});
}

function new_machine() {
new Ajax.Request('/api/av_distros', {
  method:'get',
  onSuccess: function(transport) {
    JSON.parse(transport.responseText, function (k,v) {
        if (k === "list") {
            document.getElementById("nazwa_kategorii").innerHTML = "Dodaj nowa maszyne";
            document.getElementById("cialo_kategorii").innerHTML = "<p>Wybierz jedna z dostepnych dystrybucji:</p>";
            arr = v.split(";");
            lista = "<select id=\"distro\">";
            for(var i=0;i<arr.length;i++) {
                if (arr[i] === "")
                    break;
                lista += "<option>" + arr[i] + "</option>";
            }
            lista += "</select>";
            document.getElementById("cialo_kategorii").innerHTML += lista;
            document.getElementById("cialo_kategorii").innerHTML += "<p></p>";
            document.getElementById("cialo_kategorii").innerHTML += "<p>Wpisz nazwe maszyny:</p>";
            document.getElementById("cialo_kategorii").innerHTML += "<input id=\"mach_name\"/><br/>";
            document.getElementById("cialo_kategorii").innerHTML += "<p></p>";
            document.getElementById("cialo_kategorii").innerHTML += "<input onclick=\"nowa_maszyna()\" type=\"button\" value=\"Stworz\"/><br/>";
        }
    });
  }
});
}

function nowa_maszyna () {
var e = document.getElementById("distro");
var distro = e.options[e.selectedIndex].text;
var nazwa = document.getElementById("mach_name").value;
document.getElementById("nazwa_kategorii2").innerHTML = "Status - nowa maszyna";
var ptrwa = "Proces trwa (czas oczekiwania ok 10 minut!)...";
document.getElementById("cialo_kategorii2").innerHTML = "Proces trwa (czas oczekiwania ok 10 minut!)...";
new Ajax.Request('/api/new_machine', {
  method: 'get',
  parameters: {distribution: distro, name: nazwa},
  onSuccess: function(transport) {
    JSON.parse(transport.responseText, function (k,v) {
        if (k === "status") {
            document.getElementById("cialo_kategorii2").innerHTML = v;
        }
        else if (document.getElementById("cialo_kategorii2").innerHTML === ptrwa) {
            document.getElementById("cialo_kategorii2").innerHTML = "Ok. Sprawdz menu \"Twoje maszyny\"";
        }
    });
  }
});
}

function start_vm () {
var e = document.getElementById("maszyna");
var nazwa = e.options[e.selectedIndex].text;
document.getElementById("nazwa_kategorii2").innerHTML = "Status - start maszyny";
var ptrwa = "Proces trwa...";
document.getElementById("cialo_kategorii2").innerHTML = "Proces trwa...";
new Ajax.Request('/api/start_vm', {
  method: 'get',
  parameters: {machine_name: nazwa},
  onSuccess: function(transport) {
    JSON.parse(transport.responseText, function (k,v) {
        if (k === "status") {
            document.getElementById("cialo_kategorii2").innerHTML = v;
        }
    });
  }
});
}

function del_machine() {
new Ajax.Request('/api/list_vms', {
  method:'get',
  onSuccess: function(transport) {
    JSON.parse(transport.responseText, function (k,v) {
        if (k === "list") {
            document.getElementById("nazwa_kategorii").innerHTML = "Usun maszyne";
            document.getElementById("cialo_kategorii").innerHTML = "<p>Wybierz maszyne do usuniecia:</p>";
            arr = v.split(";");
            lista = "<select id=\"del_mach\">";
            for(var i=0;i<arr.length;i++) {
                if (arr[i] === "")
                    break;
                lista += "<option>" + arr[i] + "</option>";
            }
            lista += "</select>";
            document.getElementById("cialo_kategorii").innerHTML += lista;
            document.getElementById("cialo_kategorii").innerHTML += "<p></p>";
            document.getElementById("cialo_kategorii").innerHTML += "<input onclick=\"usun_maszyne()\" type=\"button\" value=\"Usun\"/><br/>";
        }
    });
  }
});
}

function usun_maszyne () {
var e = document.getElementById("del_mach");
var nazwa = e.options[e.selectedIndex].text;
document.getElementById("nazwa_kategorii2").innerHTML = "Status - usuniecie maszyny";
document.getElementById("cialo_kategorii2").innerHTML = "Proces trwa...";
new Ajax.Request('/api/delete_machine', {
  method: 'get',
  parameters: {name: nazwa},
  onSuccess: function(transport) {
    JSON.parse(transport.responseText, function (k,v) {
        if (k === "status") {
            document.getElementById("cialo_kategorii2").innerHTML = v;
        }
        else if (document.getElementById("cialo_kategorii2").innerHTML === ptrwa) {
            document.getElementById("cialo_kategorii2").innerHTML = "Ok. Sprawdz menu \"Twoje maszyny\"";
        }
    });
  }
});
}

function show_status () {
var cos_zle = false;
var e = document.getElementById("maszyna");
var nazwa = e.options[e.selectedIndex].text;
document.getElementById("nazwa_kategorii2").innerHTML = "Status maszyny";
document.getElementById("cialo_kategorii2").innerHTML = "";
new Ajax.Request('/api/state', {
  method: 'get',
  parameters: {name: nazwa},
  onSuccess: function(transport) {
    JSON.parse(transport.responseText, function (k,v) {
        if (cos_zle)
            return;
        if (k === "status") {
            document.getElementById("cialo_kategorii2").innerHTML = v;
            cos_zle = true;
        }
        if (k === "cpu" ) {
            document.getElementById("cialo_kategorii2").innerHTML += "<p>Cpu: " + v + "</p>";
        }
        if (k === "state" ) {
            document.getElementById("cialo_kategorii2").innerHTML += "<p>State: " + v + "</p>";
        }
    });
  }
});
}

function shutdown_vm () {
var e = document.getElementById("maszyna");
var nazwa = e.options[e.selectedIndex].text;
document.getElementById("nazwa_kategorii2").innerHTML = "Status maszyny";
document.getElementById("cialo_kategorii2").innerHTML = "";
new Ajax.Request('/api/shutdown_vm', {
  method: 'get',
  parameters: {name: nazwa},
  onSuccess: function(transport) {
    JSON.parse(transport.responseText, function (k,v) {
        if (k === "status") {
            document.getElementById("cialo_kategorii2").innerHTML = v;
            working_machines();
        }
    });
  }
});
}

function screenshot () {
var e = document.getElementById("maszyna");
var nazwa = e.options[e.selectedIndex].text;
document.getElementById("nazwa_kategorii2").innerHTML = "Zrzut ekranu";
document.getElementById("cialo_kategorii2").innerHTML = "Czekaj...";
new Ajax.Request('/api/screenshot', {
  method: 'get',
  parameters: {name: nazwa},
  onSuccess: function(transport) {
    JSON.parse(transport.responseText, function (k,v) {
        if (k === "furl") {
            document.getElementById("cialo_kategorii2").innerHTML = "<a onclick=\"refresh_img()\" href=\"#\" data-toggle=\"modal\" data-target=\"#myModal2\"><img id=\"obrazeczek\" class=\"img-thumbnail\" src=\"" + v + "\"></a>";
            cos_zle = true;
        }
    });
  }
});
}

function refresh_vid (source) {
    document.getElementById("obrazek").innerHTML = "<video autoplay loop class=\"embed-responsive-item\"><source src=\"" + source + "\" type=\"video/mp4\"></video>";
}

function video_cap () {
var e = document.getElementById("maszyna");
var nazwa = e.options[e.selectedIndex].text;
var sekundy = document.getElementById("sekundy").value;
document.getElementById("nazwa_kategorii2").innerHTML = "Zrzut ekranu";
document.getElementById("cialo_kategorii2").innerHTML = "Czekaj...";
new Ajax.Request('/api/videocap', {
  method: 'get',
  parameters: {name: nazwa, time_s: sekundy},
  onSuccess: function(transport) {
    JSON.parse(transport.responseText, function (k,v) {
        if (k === "furl") {
            sklad = "<a onclick=\"refresh_vid(\'";
            sklad += v;
            sklad += "\')\" href=\"#\" data-toggle=\"modal\" data-target=\"#myModal2\">Wyswietl film</a>";
            document.getElementById("cialo_kategorii2").innerHTML = sklad;
        }
    });
  }
});
}

function terminal () {
}

function refresh_img () {
    var link = document.getElementById("obrazeczek").src;
    document.getElementById("obrazek").innerHTML = "<img id=\"obrazeczek\" class=\"img-thumbnail\" src=\"" + link + "\">";
}
</script>

<div class="container">
  <div class="jumbotron">
    <h1>VirtManager</h1>
    <p>Zarzadca maszyn wirtualnych</p>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>Menu</h3>
      <a href="#" onclick="my_machines()"><p>Twoje maszyny</p></a>
      <a href="#" onclick="working_machines()"><p>Pracujace maszyny</p></a>
      <a href="#" onclick="new_machine()"><p>Dodaj nowa maszyne</p></a>
      <a href="#" onclick="del_machine()"><p>Usun maszyne</p></a>
      <a href="" onclick="logout()"><p>Wyloguj</p></a>
    </div>
    <div class="col-sm-4">
      <h3 id="nazwa_kategorii"></h3>
      <div id="cialo_kategorii"></div>
    </div>
    <div class="col-sm-4">
      <h3 id="nazwa_kategorii2"></h3>
      <div id="cialo_kategorii2"></div>
    </div>
  </div>
</div>

<!-- Modal -->
<script>
 var GLOBAL_TERMINAL = 0;
 function get_response(response) {
    var out = "";
    JSON.parse(response.responseText, function (k,v) {
        if (k === "out" )
        {
            out = v;
            return v;
        }
    });
    var err = "";
    JSON.parse(response.responseText, function (k,v) {
        if (k === "err" ) {
            err = v;
            return v;
        }
    });
    GLOBAL_TERMINAL.echo(new String(out));
 }

 jQuery(function($, undefined) {
    $('#term_demo').terminal(function(command, term) {
        GLOBAL_TERMINAL = term;
        if (command !== '') {
            try {
                /*var result = window.eval(command);
                if (result !== undefined) {
                    term.echo(new String(result));
                }*/
                var url = '/api/execute';
                //var param = 'cmd='+command;
                var e = document.getElementById("maszyna");
                var nazwa = e.options[e.selectedIndex].text;
                var myAjax = new Ajax.Request(
					url,
					{
						method: 'get',
						parameters: {name: nazwa, cmd: command},
						onComplete: get_response
					});
            } catch(e) {
                term.error(new String(e));
            }
        } else {
           term.echo('');
        }
    }, {
        greetings: 'Bash',
        name: 'js_demo',
        height: window.innerHeight - 130,
        prompt: 'bash-4.1$ '
    });
});
</script>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Terminal</h4>
      </div>
      <div class="modal-body">
          <div id="term_demo"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Screenshot</h4>
      </div>
      <div class="modal-body">
          <!--<div id="obrazek"></div>-->
          <div align="center" id="obrazek" class="embed-responsive embed-responsive-16by9"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nagrywanie</h4>
      </div>
      <div class="modal-body">
          <p>Ile sekund nagrania?: <input type="text" id="sekundy"/></p>
          <p><input type="button" data-dismiss="modal" value="Nagrywaj" onclick="video_cap()"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</body>
</html>

