<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terminal</title>
    <link href="static/terminal-style.css" rel="stylesheet" type="text/css">
    <script src="static/jquery.js"></script>
    <script src="static/jquery-terminal.js"></script>
    <script src="static/prototype.js"></script>
</head>
<body>
{{ msg }}
<div id="term_demo"></div>
<br/>
<script>
 var GLOBAL_TERMINAL = 0;
 function get_response(response) {
    var out = "";
    JSON.parse(response.responseText, function (k,v) {
        if (k === "out" )
        {
            out = v;
            return v;
        }
    });
    var err = "";
    JSON.parse(response.responseText, function (k,v) {
        if (k === "err" ) {
            err = v;
            return v;
        }
    });
    GLOBAL_TERMINAL.echo(new String(out));
 }

 jQuery(function($, undefined) {
    $('#term_demo').terminal(function(command, term) {
        GLOBAL_TERMINAL = term;
        if (command !== '') {
            try {
                /*var result = window.eval(command);
                if (result !== undefined) {
                    term.echo(new String(result));
                }*/
                var url = '/api/execute';
                var param = 'cmd='+command;
                var myAjax = new Ajax.Request(
					url,
					{
						method: 'get',
						parameters: param,
						onComplete: get_response
					});
            } catch(e) {
                term.error(new String(e));
            }
        } else {
           term.echo('');
        }
    }, {
        greetings: 'Bash',
        name: 'js_demo',
        height: window.innerHeight - 60,
        prompt: 'bash-4.1$ '
    });
});
</script>
</body>
</html>